@use "./custom" as *;

body {
  // background-image: url("/dist/30c3b4f429be9a482791.jpg");
  // background-position: center;
  //background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/dist/30c3b4f429be9a482791.jpg");
    opacity: 0.3;
    z-index: -1;
  }
}

header {
  background-color: $white;
  width: 100vw;
  height: 65px;
  border-bottom: 3px solid $primary;
}

footer {
  background-color: $white;
  width: 100vw;
  height: 55px;
  border-top: 3px solid $primary;
  position: absolute;
  bottom: 0;

  a {
    color: $secondary;
  }
}
