@use "./custom" as *;

/* html,
body {
  height: 100%;
  position: relative;
} */

body {
  position: static;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/src/assets/imgs/5481373.jpg");
    opacity: 0.3;
    z-index: -1;
  }
}

header {
  background-color: $white;
  width: 100vw;
  height: 65px;
  border-bottom: 3px solid $primary;
}

footer {
  background-color: $white;
  width: 100vw;
  height: 55px;
  border-top: 3px solid $primary;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    color: $secondary;
  }

  @include media_breakpoint_down(md) {
    display: none;
  }
}
